.todoProgram {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.todoMain {
  padding: 15px;
  min-height: 200px;
  background-color: #f4f4f4;
}
.done {
  cursor: pointer;
}

.delete {
  cursor: pointer;
}

/* .todo {
  text-decoration: none;
}
.todo-selected {
  text-decoration: line-through;
} */
